/*------------ Header ------------------*/

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 50px 100px;
  z-index: 100000;
}

/* hamburger */

.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  /* border: 3px solid #fff; */
}
.menu-btn_burger {
  width: 40px;
  height: 6px;
  background: #0b4a72;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 1011, 47, 0.2);
  transition: all 0.5s ease-in-out;
}

.menu-btn_burger::before,
.menu-btn_burger::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 6px;
  background: #0b4a72;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 1011, 47, 0.2);
  transition: all 0.5s ease-in-out;
}

.menu-btn_burger::before {
  transform: translateY(-16px);
}
.menu-btn_burger::after {
  transform: translateY(-16px);
}

header.sticky {
  padding: 30px 100px;
  background: #fff;
}
header .logo {
  position: relative;
  font-weight: 700;
  color: #0b4a72;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
}

/* ANIMATION */
.menu-btn.open .menu-btn_burger {
  transform: translateY(-50px);
  background: transparent;
  box-shadow: none;
}

.menu-btn.open .menu-btn_burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn_burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}
/* End Hamburger */

header.sticky .logo,
header.sticky ul li a {
  color: #0b4a72;
}

.provider {
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
  color: #0b4a72;
}
/*------------ End Page Header ------------*/

/*------------ Page 0 ------------*/

#page-0 {
  margin: 5px;
}

.nav-test {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 20px 100px;
}

#nav-coba {
  font-family: "Times New Roman", Times, serif;
  font-size: 22px;
  color: #0b4a72;
}

#text-con {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 22px;
  color: #0b4a72;
}

/*------------ End Page 0 ------------*/

/*------------- Page 1 --------------------*/

#page-1 {
  background-color: #fef8f1;
}

.row1 {
  text-align: center;
  padding: 150px;
}

#neighborhood {
  font-size: 6vw;
  font-family: "Times New Roman", Times, serif;
  color: #0b4a72;
}

.custom {
  margin-top: -100px;
  text-align: center;
}
/*------------- End Page 1 --------------------*/

/*------------- Page 2 --------------------*/

#page-2 {
  padding: 120px 60px;
}

.title-started {
  padding: 50px 60px;
}

.coba {
  text-align: center;
  font-size: 22px;
  font-family: "Times New Roman", Times, serif;
  color: #0b4a72;
}

.coba1 {
  width: 15rem;
}

.custom-title {
  text-align: center;
  font-size: 22px;
  font-family: "Times New Roman", Times, serif;
  color: #0b4a72;
}

.custom-text {
  text-align: center;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: #6b7175;
}

/*------------- End Page 2 --------------------*/

/*------------- Page 3 --------------------*/

.btn-eclipse {
  background-color: #eef2f5;
  color: #0b4a72;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  border-radius: 40px;
}

#text-o {
  font-family: "Times New Roman", Times, serif;
}

.text-video {
  text-align: center;
  margin: 40px 100px;
  font-size: 25px;
  color: #0b4a72;
}

#text-p {
  font-size: 14px;
  color: #6b7175;
  font-family: Arial, Helvetica, sans-serif;
  margin: 40px;
}

#text-button {
  font-family: "Times New Roman", Times, serif;
}

/*------------- End Page 3 --------------------*/

/*------------- Page 4 --------------------*/

#page-4 {
  margin: auto;
  padding: 120px 60px;
}

/*------------- End Page 4 --------------------*/

/*------------- Popup --------------------*/

.popup-button {
  visibility: hidden;
  opacity: 0;
  transition: visibility 1s linear 0s, opacity 1s;
  position: fixed;
  bottom: 2rem;
  left: 35%;
  background-color: #e6f2b4;
  padding: 0.5rem 3rem;
  border-radius: 2rem;
  /* transition: all 2s; */
}

.popup-button.show {
  visibility: visible;
  opacity: 1;
  transition: visibility 1s linear 0s, opacity 1s;
  /* transition: all 2s; */
}

.yuk {
  display: flex;
  align-items: center;
}

.img-circle {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.search {
  margin: 12px;
  font-size: 25px;
  font-family: "Times New Roman", Times, serif;
  color: #0b4a72;
}
/*------------- End Popup --------------------*/

/*------------- Page 5 --------------------*/

#text-com {
  font-size: 14px;
  color: #6b7175;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

/*------------- End Page 5 --------------------*/

/*------------- Page 6 --------------------*/
.give {
  text-align: center;
  color: #0b4a72;
}

.give h1 {
  font-family: "Times New Roman", Times, serif;
  font-weight: 100;
  font-size: 50px;
}

.nih {
  text-align: center;
  padding: 15rem;
}

#test-nih {
  box-sizing: content-box;
  width: 7rem;
}

.nih p {
  font-family: "Times New Roman", Times, serif;
  font-size: 35px;
  font-weight: 45rem;
  color: #426b85;
}
/*------------- End Page 6 --------------------*/
